{
  "extends": [
    "eslint-config-standard-with-typescript",
    "plugin:react/recommended",
    "plugin:jest-dom/recommended",
    "plugin:testing-library/react"
  ],
  "ignorePatterns": "dist",
  "root": true,
  "env": {
    "jest": true,
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "@typescript-eslint/member-delimiter-style": [
      "error",
      {
        "multiline": {
          "delimiter": "comma",
          "requireLast": false
        },
        "singleline": {
          "delimiter": "comma",
          "requireLast": false
        }
      }
    ],
    "@typescript-eslint/no-non-null-assertion": "off"
  }
}
